@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backze {
    /*background: url(".././imagem/reserva.gif") no-repeat center;*/
    background-color: gainsboro;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: 'Varela Round', sans-serif;
}