main {
    width: 90%;
    margin: 2em auto;
    line-height: 1.8;
    outline: 2px solid #c2c2c2;
    padding: 2em;
}

main h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    opacity: 0.4;
}

main h2 {
    color: rgb(114, 117, 115);
    text-align: center;
    opacity: 0.7;
}

main h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    opacity: 0.8;
}